<?xml version="1.0" encoding="UTF-8"?>
<!-- http://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/bin/.phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="tests/app/bootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
>
    <coverage processUncoveredFiles="true">
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </coverage>
    <php>
        <ini name="display_errors" value="1" />
        <ini name="error_reporting" value="-1" />
        <server name="APP_ENV" value="test" force="true" />
        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="APP_RUNTIME_MODE" value="web=1" force="true" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
    </php>
    <testsuites>
        <testsuite name="Integration Tests">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
